@model IEnumerable<testsignalr.Models.ModelData.DanhMucCongTy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/Layout.cshtml";
    int stt = 0;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="~/Content/tableStyle.css" rel="stylesheet" />
<link href="~/Content/popupStyle.css" rel="stylesheet" />
<img id="loading" src="~/Image/loading.gif" style="display:none; position:fixed; top:50%; left:50%; width:250px; height:250px;" />
<div style="height:100vh;">
    <ul class="nav nav-tabs">

        @foreach (var item in Model)
        {
            stt = stt + 1;
            if (stt == 1)
            {
                <li class="active"><a data-toggle="tab" href="#@item.MaCongTy.Trim()">@item.MaCongTy.Trim()</a></li>
            }
            else
            {
                <li><a data-toggle="tab" href="#@item.MaCongTy.Trim()">@item.MaCongTy.Trim()</a></li>
            }
        }
    </ul>
    <div class="tab-content">
        @foreach (var item in Model)
        {
            <div id="@item.MaCongTy.Trim()" class="tab-pane fade" style="height:calc(100vh-200px); overflow:scroll;">
                <h3>Menu 1</h3>
                <p>Loading...</p>
            </div>
        }
    </div>
    <div style="min-height:200px; border:solid 2px #808080;">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#HopDong">Hợp đồng lao động</a></li>
            <li><a data-toggle="tab" href="#TheLamViec">Thẻ làm việc</a></li>
            <li><a data-toggle="tab" href="#LyLichTuPhap">Lý lịch tư pháp</a></li>
            <li><a data-toggle="tab" href="#NguoiPhuThuoc">Người phụ thuộc</a></li>
        </ul>
        <div class="tab-content">
            <div id="HopDong" class="tab-pane fade active in">
                <table id="tableContainer" class="Table">
                </table>
            </div>
            <div id="TheLamViec" class="tab-pane fade">
                <table id="tableTheLamViec" class="Table">
                </table>
            </div>
            <div id="LyLichTuPhap" class="tab-pane fade">
                <table id="tableLyLichTuPhap" class="Table">
                </table>
            </div>
            <div id="NguoiPhuThuoc" class="tab-pane fade">
                <table id="tableLyLichTuPhap" class="Table">
                </table>
            </div>
        </div>
    </div>


</div>
<div id="overlay" class="overlay"></div>
<div id="popup" class="popup">
    <div class="popup-header">
        <strong> THÔNG TIN CÁ NHÂN NHÂN VIÊN</strong>
        <span class="close">&times;</span>
    </div>
    <div class="popup-content">
        <div class="row col-12">
            <div class="col-10" style="float:left;">
                <div class="col-6" style="float:left;">
                    <div class="col-4" style="float:left;">
                        <p class="label"> Họ tên:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="labelbold">Pham Van Chien</p>
                    </div>
                </div>
                <div class="col-6" style="float:left;">
                    <div class="col-4" style="float:left;">
                        <p class="label"> Mã nhân viên:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="labelbold">018255</p>
                    </div>
                </div>
                <div class="col-6" style="float:left;">
                    <div class="col-4" style="float:left;">
                        <p class="label"> Tên công ty:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="label">Công ty ACSV</p>
                    </div>
                </div>
                <div class="col-6" style="float:left;">
                    <div class="col-4" style="float:left;">
                        <p class="label"> Bộ phận:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="label">Phòng KHĐT,MS</p>
                    </div>
                </div>
                <div class="col-6" style="float:left;">
                    <div class="col-4" style="float:left;">
                        <p class="label"> Chức vụ:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="label">Chuyên viên CNTT</p>
                    </div>
                </div>
                <div class="col-12" style="float:left;">
                    <div class="col-2" style="float:left;">
                        <p class="label"> Địa chỉ thường trú:</p>
                    </div>
                    <div class="col-10" style="float:left;">
                        <p class="label">Thôn Thạch Lỗi, Xã Thanh Xuân, Sóc Sơn, TP Hà Nội</p>
                    </div>
                </div>
                <div class="col-12" style="float:left;">
                    <div class="col-2" style="float:left;">
                        <p class="label"> Quê quán:</p>
                    </div>
                    <div class="col-10" style="float:left;">
                        <p class="label">Thôn Thạch Lỗi, Xã Thanh Xuân, Sóc Sơn, TP Hà Nội</p>
                    </div>
                </div>
                <div class="col-12" style="float:left;">
                    <div class="col-2" style="float:left;">
                        <p class="label"> Nơi sinh:</p>
                    </div>
                    <div class="col-10" style="float:left;">
                        <p class="label">Thôn Thạch Lỗi, Xã Thanh Xuân, Sóc Sơn, TP Hà Nội</p>
                    </div>
                </div>
            </div>
            <div style="height:160px; border:solid 2px #a3a0a0; float:left; border-radius:5px;" class="col-2">
                <img class="StaffPicture" src="~/Content/img/Staff.jpg" />
            </div>
            <div class="col-12" style="float:left;">
                <div class="col-4" style="float:left;">
                    <div class="col-4" style="float:left;">
                        <p class="label"> Giới tính:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="label">Nam</p>
                    </div>
                </div>
                <div class="col-4" style="float:left;">
                    <div class="col-4" style="float:left;">
                        <p class="label"> Ngày Sinh:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="label">08/09/1984</p>
                    </div>
                </div>
                <div class="col-4" style="float:left;">
                    <div class="col-4" style="float:left;">
                        <p class="label"> Hôn nhân:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="label">Lập gia đình</p>
                    </div>
                </div>

                <div class="col-4" style="float:left;"> 
                    <div class="col-4" style="float:left;">
                        <p class="label"> CCCD:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="label">0340123000451</p>
                    </div>
                </div>
                <div class="col-4" style="float:left;">
                    <div class="col-4" style="float:left;">
                        <p class="label"> Ngày cấp:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="label">04/05/2021</p>
                    </div>
                </div>
                <div class="col-4" style="float:left;">
                    <div class="col-4" style="float:left;">
                        <p class="label"> Nơi cấp:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="label">CA TP Hà Nội</p>
                    </div>
                </div>

                <div class="col-4" style="float:left;">
                    <div class="col-4" style="float:left;">
                        <p class="label"> SDT:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="label">0936308474</p>
                    </div>
                </div>
                <div class="col-4" style="float: left; ">
                    <div class="col-5" style="float: left; text-align: left;">
                        <p class="label"> Ngày vào công ty:</p>
                    </div>
                    <div class="col-7" style="float: left; text-align: left;">
                        <p class="label">01/10/2012</p>
                    </div>
                </div>
                <div class="col-4" style="float:left;">
                    <div class="col-4" style="float: left;">
                        <p class="label" style="text-align: left;"> Email:</p>
                    </div>
                    <div class="col-8" style="float:left;">
                        <p class="label" >chienpv@hgs.vn</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.nav-tabs a').on('show.bs.tab', function (e) {
            var targetTab = $(e.target).attr("href"); // Get the target tab
            var macongty = $(e.target).text();
            if ($(targetTab).text().includes("Loading...")) { // Check if content is already loaded
                $.ajax({
                    url: '/Administrator/NhanViens/getEmployeeByCompany',
                    type: 'GET',
                    data: { companyCode: macongty },
                    beforeSend: function () {
                        $("#loading").show();
                    },
                    success: function (data) {
                        $(targetTab).html(data);
                        $("#loading").hide();
                        $(targetTab).addClass("show");
                        $(targetTab).addClass("active");
                        $(targetTab).addClass("in");
                    },
                    error: function (xhr, status, error) {
                        window.location = '/Login/Signin';
                    },
                    complete: function () {
                        $("#loading").hide();
                    }
                });

            }
        });
        $(document).on('click', '#example tbody tr', function () {
            var manv = $(this).find('td:nth-child(3)').text();
            $.ajax({
                url: '/Administrator/NhanViens/getJsonData',
                type: 'GET',
                data: { MaNhanVien: manv },
                contentType: 'application/html ; charset:utf-8',
                dataType: 'json',
                beforeSend: function () {
                    $("#loading").show();
                },
                success: function (data) {
                    var danhsachhopdong = data.danhSachHopDong;
                    var stt = 0;
                    var table = $('<table>').addClass('table');
                    var thead = $('<thead>').appendTo(table);
                    var tbody = $('<tbody>').appendTo(table);

                    // Tạo header cho bảng
                    var headerRow = $('<tr>').appendTo(thead);
                    $('<th>').text('STT').appendTo(headerRow);
                    $('<th>').text('Họ tên').appendTo(headerRow);
                    $('<th>').text('Mã NV').appendTo(headerRow);
                    $('<th>').text('Loại Hợp đồng').appendTo(headerRow);
                    $('<th>').text('Ngày cấp').appendTo(headerRow);

                    // Xóa toàn bộ nội dung trong tbody trước khi đổ dữ liệu mới
                    tbody.empty();

                    // Đổ dữ liệu vào bảng
                    $.each(danhsachhopdong, function (index, item) {
                        stt = stt + 1;
                        var row = $('<tr>').appendTo(tbody);
                        $('<td>').text(stt).appendTo(row);
                        $('<td>').text(item.HoTen).appendTo(row);
                        $('<td>').text(item.MaNhanVien).appendTo(row);
                        $('<td>').text(item.TenLoaiHopDong).appendTo(row);
                        $('<td>').text(item.NgayCap).appendTo(row);
                    });

                    // Thêm bảng vào container
                    $('#tableContainer').empty().append(table);


                    var danhsachTheLamViec = data.danhSachTheLamViec;
                    stt = 0
                    var table1 = $('<table>').addClass('table');
                    var thead1 = $('<thead>').appendTo(table1);
                    var tbody1 = $('<tbody>').appendTo(table1);

                    // Tạo header cho bảng
                    var headerRow1 = $('<tr>').appendTo(thead1);
                    $('<th>').text('STT').appendTo(headerRow1);
                    $('<th>').text('Họ tên').appendTo(headerRow1);
                    $('<th>').text('Mã NV').appendTo(headerRow1);
                    $('<th>').text('Ngày hết hạn').appendTo(headerRow1);

                    // Xóa toàn bộ nội dung trong tbody trước khi đổ dữ liệu mới
                    tbody1.empty();

                    // Đổ dữ liệu vào bảng
                    $.each(danhsachTheLamViec, function (index, item) {
                        stt = stt + 1;
                        var row1 = $('<tr>').appendTo(tbody1);
                        $('<td>').text(stt).appendTo(row1);
                        $('<td>').text(item.HoTen).appendTo(row1);
                        $('<td>').text(item.MaNhanVien).appendTo(row1);
                        $('<td>').text(item.HanSuDung).appendTo(row1);
                    });

                    // Thêm bảng vào container
                    $('#tableTheLamViec').empty().append(table1);

                    var danhSachLyLichTuPhap = data.danhSachLyLichTuPhap;
                    stt = 0
                    var table2 = $('<table>').addClass('table');
                    var thead2 = $('<thead>').appendTo(table2);
                    var tbody2 = $('<tbody>').appendTo(table2);

                    // Tạo header cho bảng
                    var headerRow2 = $('<tr>').appendTo(thead2);
                    $('<th>').text('STT').appendTo(headerRow2);
                    $('<th>').text('Họ tên').appendTo(headerRow2);
                    $('<th>').text('Mã NV').appendTo(headerRow2);
                    $('<th>').text('Ngày hết hạn').appendTo(headerRow2);

                    // Xóa toàn bộ nội dung trong tbody trước khi đổ dữ liệu mới
                    tbody2.empty();

                    // Đổ dữ liệu vào bảng
                    $.each(danhSachLyLichTuPhap, function (index, item) {
                        stt = stt + 1;
                        var row2 = $('<tr>').appendTo(tbody2);
                        $('<td>').text(stt).appendTo(row2);
                        $('<td>').text(item.HoTen).appendTo(row2);
                        $('<td>').text(item.MaNhanVien).appendTo(row2);
                        $('<td>').text(item.HanSuDung).appendTo(row2);
                    });

                    // Thêm bảng vào container
                    $('#tableLyLichTuPhap').empty().append(table2);
                },
                error: function (xhr, status, error) {
                    window.location = '/Login/Signin';
                },
                complete: function () {
                    $("#loading").hide();
                }
            });
        });
        //$(document).keydown(function (event) {
        //    // Kiểm tra xem có phải Ctrl và F đã được nhấn cùng một lúc không
        //    if (event.ctrlKey && event.key === 'f') {
        //        // Xử lý khi Ctrl + F được nhấn
        //        event.preventDefault(); // Ngăn chặn hành động mặc định của trình duyệt (ví dụ: tìm kiếm trang)

        //        // Thực hiện các hành động bạn muốn khi Ctrl + F được nhấn
        //        alert('Bạn đã nhấn tổ hợp phím Ctrl + F');
        //    }
        //});
        $('.nav-tabs li.active a').trigger('show.bs.tab');

        $(document).on('dblclick', '#example tbody tr', function () {
            var manv = $(this).find('td:eq(1)').text(); // Lấy giá trị của cột số 2 (index 1)
            if (manv.trim() != "") {
                showNewWindow();
            }


        });

        var popup = document.getElementById("popup");
        var closeButton = document.querySelector(".popup .close");
        var overlay = document.getElementById("overlay");
        closeButton.addEventListener("click", function () {
            hidePopup();
        });
        document.getElementById("addButton").addEventListener("click", function () {
            showNewWindow();
        });

    });
    function showNewWindow() {
        popup.style.display = "block";
        overlay.style.display = "block";
    }
    function hidePopup() {
        popup.style.display = "none";
        overlay.style.display = "none";
    }
</script>

