body {
}
.vien {
 border:solid 1px #0026ff;
}
.header {
    width:80%;
    margin:0px auto;
}
#historyContent
{
    font-size:13px;
}
th {
    padding: 5px;
    /*    border: solid 1px #808080;*/
    background-color: #464646;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 1000;
    height: 30px;
}

td {
    width: auto;
    min-width: 60px;
    padding: 5px;
    /*    border: solid 1px #808080;*/
    text-align: center;
}
.modal {
    animation: modal-show 0.3s;
}