body {
}
@media only screen and (max-width: 768px) {
    .container-fluid {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 2px!important;
  margin-right: auto;
  margin-left: auto;
    }
    table, a {
    font-size:12px;
    }
    h4 {
    font-size:18px;
    }
}
@media only screen and (max-width: 320px) {
    .container-fluid {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 2px!important;
  margin-right: auto;
  margin-left: auto;
    }
    table, a {
    font-size:12px;
    }
    h4 {
    font-size:18px;
    }
}